
.timeline-wrapper{
  position: absolute;
  bottom: 20px;
  display: flex;
  width: 60%;
  right: 0;
  justify-content: flex-end;
  .circle:not(:last-child){
    margin-right: 50px;
  }
  .circle{
    height: 30px;
    width: 30px;
    position: relative;
    cursor: pointer;
    h6{
      font-size: 12px;
      transform: translate(0,-10px);
      display: none;
    }
    &:hover{
      h6{
        display: block;
      }
    }
    &::before{
      content: "";
      height: 10px;
      width: 10px;
      background: rgba(62, 231, 173, 1);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      border-radius: 100%;
    }
    &.active{
      h6{
        display: block;
      }
    //  animation: timeline 1s infinite;
      border-radius: 100%;
      border: solid rgba(62, 231, 172, 0.548);
      h6{
        transform: translate(-8px,-25px);
        font-weight: normal;
        font-size: 15px;
      }
     &::before{
      height: 16px;
      width: 16px;
     }
    }

  }
  .line{
    display: flex;
    align-content: flex-end;
    position: relative;
    z-index: 1;
    &::after{
      content: "";
      width: calc(100% - 20px);
      height: 2px;
      background: rgb(91, 150, 130);
      top: 14px;
      left: 0;
      position: absolute;
      right: 0;
      margin: auto;
      z-index: -1;
    }
  }
}

.line-next {
    margin-right: 20px;
    padding: 0 20px;
    position: relative;
    cursor: pointer;
    .next{
      transform: translateY(-9px);
    }
    .arrow{
      height: 2px;
      background: white;
      position: absolute;
      top: 0;
      width: 90%;
      bottom: 0;
      margin: auto;
    }
    .arrowup{
      border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: -3px;
    right: 0;
    }
}

@keyframes timeline{
 0%{
  border-color: rgba(62, 231, 172, 0);
 }
 50%{
    border-color: rgba(62, 231, 172, 0.61);
 }
 100%{
  border-color: rgba(62, 231, 172, 0.767);
 }
}


@media screen and (max-width: 1024px){
  .line-next{
    width: 64px;
    /* margin: 0; */
    margin-top: 20px;
    margin-left: auto;
  }
  .timeline-wrapper{
    display: none;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    position: initial;
    .circle:not(:last-child){
      margin-right: 20% !important;
    }
  }
}
