<nav [@openMenu]="openMenu">
  <div class="nav-left"></div>
  <div class="nav-right"></div>
  <ul>
    <li><a [routerLink]="['/']" (click)="toggleMenu()" >Home</a></li>
    <li><a (click)="navigateTo('About')">About</a></li>
    <li><a (click)="navigateTo('Skills')" >Skills</a></li>
    <li><a (click)="navigateTo('Works')">Works</a></li>
    <li><a (click)="navigateTo('Contact')">Contact</a></li>
  </ul>
</nav>



<div class="nav-icon" [class.open]="openMenu == 'active'"  (click)="toggleMenu()" >
  <span></span>
  <span></span>
  <span></span>
</div>


<div class="social-wrapper">
    <div class="social-logo">
      <i class="ion-logo-facebook"></i>
      <i class="ion-logo-linkedin"></i>
      <i class="ion-logo-github"></i>
    </div>
</div>
