:host{
  height: 100%;
  overflow: hidden;
}

h4{
  color: white;
  position: relative;
  z-index: 1;
}
h6{
  color: #E2E6E5;
}
p{
  color: #8e9090;
}
.project-screenshot{
  img{
    max-width: 100%;
    margin:0 auto;
    margin-top: 15px;
  }
}
a{
  color: #6274aa;
  font-size: 12px;
}
.work-wrapper{
  position: relative;
}
.close-dialog{
  position: absolute;
  top: -10px;
  right: 11px;
  cursor: pointer;
  color:#E2E6E5
}
.close-dialog div{
  height: 37px;
  width: 2px;
  border-radius: 58px;
  background: #E2E6E5;

  transform: rotate(-45deg);
  &:first-of-type{
    transform: rotate(45deg);
  }
}

.close-icon{
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 25px;
  cursor: pointer;
  color: #E2E6E5
}
